$steps: 4 !default;
$fades: false !default;
$gradient: false !default;

@mixin colors(
  $steps: $steps or 4,
  $fades: $fades,
  $gradient: $gradient,
) {
  // offset steps
  --ccs-step: calc(var(--ccs-contrast) / #{$steps});

  // fade background
  --ccs-fade-background: var(--ccs-fade-background--theme, var(--ccs-fade-background--config, 0%));

  // combined sl values
  --ccs-sl: var(--ccs-s), var(--ccs-l);

  // main colors
  --ccs-prime: hsl(var(--ccs-h--prime), var(--ccs-sl));
  --ccs-prime--fg-full: var(--ccs-prime--fg#{$steps});
  --ccs-prime--bg-full: var(--ccs-prime--bg#{$steps});
  --ccs-accent: hsl(var(--ccs-h--accent), var(--ccs-sl));
  --ccs-accent--fg-full: var(--ccs-accent--fg#{$steps});
  --ccs-accent--bg-full: var(--ccs-accent--bg#{$steps});

  @if ($fades) {
    --ccs-fade: #{if(type-of($fades) == 'number', $fades, 1)};
    --ccs-sla--fade: var(--ccs-s--contrast), var(--ccs-l), var(--ccs-fade);
    --ccs-prime--fade: hsla(var(--ccs-h--prime), var(--ccs-sla--fade));
    --ccs-prime--fg-full-fade: var(--ccs-prime--fg#{$steps}-fade);
    --ccs-prime--bg-full-fade: var(--ccs-prime--bg#{$steps}-fade);
    --ccs-accent--fade: hsla(var(--ccs-h--accent), var(--ccs-sla--fade));
    --ccs-accent--fg-full-fade: var(--ccs-accent--fg#{$steps}-fade);
    --ccs-accent--bg-full-fade: var(--ccs-accent--bg#{$steps}-fade);
  }

  @for $i from 1 through $steps {
    $bg: 'bg#{$i}';
    $fg: 'fg#{$i}';

    // lightness steps
    --ccs-l--#{$bg}: calc(var(--ccs-l) + var(--ccs-step) * #{$i} * var(--ccs-mode));
    --ccs-l--#{$fg}: calc(var(--ccs-l) - var(--ccs-step) * #{$i} * var(--ccs-mode));

    // saturation steps
    --ccs-s--#{$fg}: calc(var(--ccs-s) - var(--ccs-step) * #{$i});
    --ccs-s--#{$bg}: calc(var(--ccs-s) - var(--ccs-fade-background, 0%) - var(--ccs-step) * #{$i});

    // step sl
    --ccs-sl--#{$fg}: var(--ccs-s--#{$fg}), var(--ccs-l--#{$fg});
    --ccs-sl--#{$bg}: var(--ccs-s--#{$bg}), var(--ccs-l--#{$bg});

    // color steps
    --ccs-prime--#{$fg}: hsl(var(--ccs-h--prime), var(--ccs-sl--#{$fg}));
    --ccs-prime--#{$bg}: hsl(var(--ccs-h--prime), var(--ccs-sl--#{$bg}));
    --ccs-accent--#{$fg}: hsl(var(--ccs-h--accent), var(--ccs-sl--#{$fg}));
    --ccs-accent--#{$bg}: hsl(var(--ccs-h--accent), var(--ccs-sl--#{$bg}));

    @if ($fades) {
      --ccs-sla--#{$fg}-fade: var(--ccs-s--contrast), var(--ccs-l--#{$fg}), var(--ccs-fade);
      --ccs-sla--#{$bg}-fade: var(--ccs-s--contrast), var(--ccs-l--#{$bg}), var(--ccs-fade);
      --ccs-prime--#{$fg}-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--#{$fg}-fade));
      --ccs-prime--#{$bg}-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--#{$bg}-fade));
      --ccs-accent--#{$fg}-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--#{$fg}-fade));
      --ccs-accent--#{$bg}-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--#{$bg}-fade));
    }
  }

  @if ($gradient) {
    $prime-main: ();
    $prime-fade: ();
    $accent-main: ();
    $accent-fade: ();

    @for $i from (0 - $steps) through $steps {
      $n: $i + $steps;
      $pos: abs($i);
      $stops: calc(var(--stop) * #{$n}) calc(var(--stop) * #{$n + 1});
      $var: if($i == $pos, '--fg', '--bg');
      $var: if($i == 0, '', '#{$var}#{$pos}');
      $fade: if($var != '', '#{$var}-fade', '--fade');

      $prime-main: append($prime-main, var(--ccs-prime#{$var}) $stops, comma);
      $prime-fade: append($prime-fade, var(--ccs-prime#{$fade}) $stops, comma);
      $accent-main: append($accent-main, var(--ccs-accent#{$var}) $stops, comma);
      $accent-fade: append($accent-fade, var(--ccs-accent#{$fade}) $stops, comma);
    }

    --stop: calc(100% / (#{$steps} * 2 + 1));
    --prime-gradient: linear-gradient(to right, #{$prime-main});
    --accent-gradient: linear-gradient(to right, #{$accent-main});

    @if ($fades) {
      --prime-gradient--fade: linear-gradient(to right, #{$prime-fade});
      --accent-gradient--fade: linear-gradient(to right, #{$accent-fade});
    }
  }
}
