$prime-hue: 330 !default;
$accent-hue: null !default;
$lightness: null !default;
$saturation: null !default;
$contrast: null !default;
$fade-background: null !default;

html {
  // config
  @if ($prime-hue) { --ccs-prime--config: #{$prime-hue or 330}; }
  @if ($accent-hue) { --ccs-accent--config: #{$accent-hue or null}; }
  @if ($lightness) { --ccs-lightness--config: #{$lightness or null}; }
  @if ($saturation) { --ccs-saturation--config: #{$saturation or null}; }
  @if ($contrast) { --ccs-contrast--config: #{$contrast or null}; }
  @if ($fade-background) { --ccs-fade-background--config: #{$fade-background}; }

  // mode
  --ccs-mode--os: 1;

  // fallback values, in case variables are not supported
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 5%);

  @media (prefers-color-scheme: dark) {
    --ccs-mode--os: -1;
    background: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 95%);
  }
}

