@use '../../sass/ccs';

// Colors
// ------
[data-ccs-colors] {
  --ccs-neutral--theme: var(--ccs-h--accent);
  --callout: var(--ccs-neutral--bg#{ccs.$steps - 2}-fade);
}


// links
// -----
a {
  --link--default: var(--ccs-prime--fg#{ccs.$steps - 2});

  &:link,
  &:visited {
    color: var(--link, var(--link--default));
    text-decoration-color: var(--ccs-prime);
    text-underline-offset: 0.125em;
    text-decoration-thickness: 0.125em;
  }

  &:hover,
  &:focus,
  &:active {
    --link: var(--ccs-accent--fg-full);
    text-decoration-color: var(--ccs-accent);
  }
}
