@use 'remedy';
@use 'ccs';
@use 'theme';
@use 'menu';
@use 'palette';

html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: calc(1em + 0.25vw);
}

nav li {
  margin: 0.5em 0;
}

body {
  padding: 1em;
  margin: 0 auto;
  max-width: 40em;
}
