/* Global Remedies
******************/
/* Use border-box by default, globally */
*, ::before, ::after {
  box-sizing: border-box;
}

/*
* 1. Consistent line spacing...
*    CSS Inline Layout Module Level 3: https://drafts.csswg.org/css-inline-3/#line-sizing-property
* 2. Improve spacing of punctuation marks and script changes in CJK languages
*    CSS Text Module Level 4: https://drafts.csswg.org/css-text-4/#text-spacing-property
*/
html {
  line-sizing: normal;
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha ideograph-numeric;
}

/* Remove the tiny space around the edge of the page */
body {
  margin: 0;
}

/* Headings
***********/
/* Switch to rem units for headings */
/* @@@ Initial values are based on existing browser defaults */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* Keep h1 margins consistent, even when nested */
h1 {
  margin: 0.67em 0;
}

/* Typography
*************/
/* Overflow by default is bad */
pre {
  white-space: pre-wrap;
}

/* Solid, thin horizonatal rules */
hr {
  border: 0.5px solid;
}

/* Embedded Elements
********************/
/*
* 1. Block display is usually what we want
* 2. Remove strange space-below when inline
* 3. Responsive by default
*/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

/*
* Maintain intrinsic aspect ratios when `max-width` is applied
* (iframe, embed, and object have no intrinsic ratio, set height explicitly)
*/
img, svg, video, canvas {
  height: auto;
}

/*
* There is no good reason elements default to 300px,
* and audio files are unlikely to come with a width attribute
*/
audio {
  width: 100%;
}

/* Old Browsers
***************/
/* Remove the border on images inside links in IE 10 and earlier */
img {
  border-style: none;
}

/* Hide the overflow in IE 10 and earlier */
svg {
  overflow: hidden;
}

/* Default block display on HTML5 elements */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/*
* 1. Add the correct box sizing in IE 10
* 2. Remove the padding in IE 10
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  --ccs-prime--config: 330;
  --ccs-saturation--config: 80%;
  --ccs-fade-bg--config: 20%;
  --ccs-mode--os: 1;
  background: #f2f2f2;
  color: #0d0d0d;
}
@media (prefers-color-scheme: dark) {
  html {
    --ccs-mode--os: -1;
    background: #0d0d0d;
    color: #f2f2f2;
  }
}

[data-ccs-colors] {
  --ccs-mode--cascade: var(--ccs-mode--user, var(--ccs-mode--html, var(--ccs-mode--os, 1)));
  --ccs-mode: var(--ccs-mode--cascade, 1);
  --ccs-mode--invert: calc(-1 * var(--ccs-mode));
  --ccs-bg--full: hsl(0, 0%, calc(100% * var(--ccs-mode)));
  --ccs-fg--full: hsl(0, 0%, calc(100% * var(--ccs-mode--invert)));
}

[data-ccs-colors=invert] {
  --ccs-mode: calc(-1 * var(--ccs-mode--cascade, 1));
}

[data-ccs-colors=light] {
  --ccs-mode--html: 1;
}

[data-ccs-colors=dark] {
  --ccs-mode--html: -1;
}

[data-ccs-theme] {
  --ccs-h--prime: var(--ccs-prime--user, var(--ccs-prime--theme, var(--ccs-prime--config)));
  --ccs-h--accent: var(--ccs-accent--theme, var(--ccs-accent--config, var(--ccs-h--prime)));
  --ccs-contrast--user-percent: calc(var(--ccs-contrast--user) * 1%);
  --ccs-contrast: var(--ccs-contrast--user-percent, var(--ccs-contrast--theme, var(--ccs-contrast-config, 45%)));
  --ccs-l--user-percent: calc(var(--ccs-l--user) * 1%);
  --ccs-l: var(--ccs-l--user-percent, var(--ccs-l--theme, var(--ccs-lightness--config, 50%)));
  --ccs-l--contrast: calc(var(--ccs-l) + var(--ccs-contrast));
  --ccs-s--user-percent: calc(var(--ccs-s--user) * 1%);
  --ccs-s: var(--ccs-s--user-percent, var(--ccs-s--theme, var(--ccs-saturation--config, 50%)));
  --ccs-s--contrast: calc(var(--ccs-s) - var(--ccs-contrast) * 0.75);
}

[data-ccs-theme=complement] {
  --ccs-accent--theme: calc(var(--ccs-h--prime) + 180);
}

[data-ccs-theme=triad] {
  --ccs-accent--theme: calc(var(--ccs-h--prime) + (120 * var(--ccs-mode)));
}

[data-ccs-theme=adjacent] {
  --ccs-accent--theme: calc(var(--ccs-h--prime) + (60 * var(--ccs-mode)));
}

[data-ccs-colors] {
  --ccs-steps: var(--ccs-steps--config, 4);
  --ccs-step: calc(var(--ccs-contrast) / var(--ccs-steps));
  --ccs-fade-background: var(--ccs-fade-background--theme, var(--ccs-fade-background--config, 0%));
  --ccs-sl: var(--ccs-s), var(--ccs-l);
  --ccs-prime: hsl(var(--ccs-h--prime), var(--ccs-sl));
  --ccs-accent: hsl(var(--ccs-h--accent), var(--ccs-sl));
  --ccs-fade: 0.95;
  --ccs-sla--fade: var(--ccs-s--contrast), var(--ccs-l), var(--ccs-fade);
  --ccs-prime--fade: hsla(var(--ccs-h--prime), var(--ccs-sla--fade));
  --ccs-accent--fade: hsla(var(--ccs-h--accent), var(--ccs-sla--fade));
  --ccs-l--bg1: calc(var(--ccs-l) + var(--ccs-step) * 1 * var(--ccs-mode));
  --ccs-l--fg1: calc(var(--ccs-l) - var(--ccs-step) * 1 * var(--ccs-mode));
  --ccs-s--fg1: calc(var(--ccs-s) - var(--ccs-step) * 1);
  --ccs-s--bg1: calc(var(--ccs-s) - var(--ccs-fade-background, 0%) - var(--ccs-step) * 1);
  --ccs-sl--fg1: var(--ccs-s--fg1), var(--ccs-l--fg1);
  --ccs-sl--bg1: var(--ccs-s--bg1), var(--ccs-l--bg1);
  --ccs-prime--fg1: hsl(var(--ccs-h--prime), var(--ccs-sl--fg1));
  --ccs-prime--bg1: hsl(var(--ccs-h--prime), var(--ccs-sl--bg1));
  --ccs-accent--fg1: hsl(var(--ccs-h--accent), var(--ccs-sl--fg1));
  --ccs-accent--bg1: hsl(var(--ccs-h--accent), var(--ccs-sl--bg1));
  --ccs-sla--fg1-fade: var(--ccs-s--contrast), var(--ccs-l--fg1), var(--ccs-fade);
  --ccs-sla--bg1-fade: var(--ccs-s--contrast), var(--ccs-l--bg1), var(--ccs-fade);
  --ccs-prime--fg1-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--fg1-fade));
  --ccs-prime--bg1-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--bg1-fade));
  --ccs-accent--fg1-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--fg1-fade));
  --ccs-accent--bg1-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--bg1-fade));
  --ccs-l--bg2: calc(var(--ccs-l) + var(--ccs-step) * 2 * var(--ccs-mode));
  --ccs-l--fg2: calc(var(--ccs-l) - var(--ccs-step) * 2 * var(--ccs-mode));
  --ccs-s--fg2: calc(var(--ccs-s) - var(--ccs-step) * 2);
  --ccs-s--bg2: calc(var(--ccs-s) - var(--ccs-fade-background, 0%) - var(--ccs-step) * 2);
  --ccs-sl--fg2: var(--ccs-s--fg2), var(--ccs-l--fg2);
  --ccs-sl--bg2: var(--ccs-s--bg2), var(--ccs-l--bg2);
  --ccs-prime--fg2: hsl(var(--ccs-h--prime), var(--ccs-sl--fg2));
  --ccs-prime--bg2: hsl(var(--ccs-h--prime), var(--ccs-sl--bg2));
  --ccs-accent--fg2: hsl(var(--ccs-h--accent), var(--ccs-sl--fg2));
  --ccs-accent--bg2: hsl(var(--ccs-h--accent), var(--ccs-sl--bg2));
  --ccs-sla--fg2-fade: var(--ccs-s--contrast), var(--ccs-l--fg2), var(--ccs-fade);
  --ccs-sla--bg2-fade: var(--ccs-s--contrast), var(--ccs-l--bg2), var(--ccs-fade);
  --ccs-prime--fg2-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--fg2-fade));
  --ccs-prime--bg2-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--bg2-fade));
  --ccs-accent--fg2-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--fg2-fade));
  --ccs-accent--bg2-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--bg2-fade));
  --ccs-l--bg3: calc(var(--ccs-l) + var(--ccs-step) * 3 * var(--ccs-mode));
  --ccs-l--fg3: calc(var(--ccs-l) - var(--ccs-step) * 3 * var(--ccs-mode));
  --ccs-s--fg3: calc(var(--ccs-s) - var(--ccs-step) * 3);
  --ccs-s--bg3: calc(var(--ccs-s) - var(--ccs-fade-background, 0%) - var(--ccs-step) * 3);
  --ccs-sl--fg3: var(--ccs-s--fg3), var(--ccs-l--fg3);
  --ccs-sl--bg3: var(--ccs-s--bg3), var(--ccs-l--bg3);
  --ccs-prime--fg3: hsl(var(--ccs-h--prime), var(--ccs-sl--fg3));
  --ccs-prime--bg3: hsl(var(--ccs-h--prime), var(--ccs-sl--bg3));
  --ccs-accent--fg3: hsl(var(--ccs-h--accent), var(--ccs-sl--fg3));
  --ccs-accent--bg3: hsl(var(--ccs-h--accent), var(--ccs-sl--bg3));
  --ccs-sla--fg3-fade: var(--ccs-s--contrast), var(--ccs-l--fg3), var(--ccs-fade);
  --ccs-sla--bg3-fade: var(--ccs-s--contrast), var(--ccs-l--bg3), var(--ccs-fade);
  --ccs-prime--fg3-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--fg3-fade));
  --ccs-prime--bg3-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--bg3-fade));
  --ccs-accent--fg3-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--fg3-fade));
  --ccs-accent--bg3-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--bg3-fade));
  --ccs-l--bg4: calc(var(--ccs-l) + var(--ccs-step) * 4 * var(--ccs-mode));
  --ccs-l--fg4: calc(var(--ccs-l) - var(--ccs-step) * 4 * var(--ccs-mode));
  --ccs-s--fg4: calc(var(--ccs-s) - var(--ccs-step) * 4);
  --ccs-s--bg4: calc(var(--ccs-s) - var(--ccs-fade-background, 0%) - var(--ccs-step) * 4);
  --ccs-sl--fg4: var(--ccs-s--fg4), var(--ccs-l--fg4);
  --ccs-sl--bg4: var(--ccs-s--bg4), var(--ccs-l--bg4);
  --ccs-prime--fg4: hsl(var(--ccs-h--prime), var(--ccs-sl--fg4));
  --ccs-prime--bg4: hsl(var(--ccs-h--prime), var(--ccs-sl--bg4));
  --ccs-accent--fg4: hsl(var(--ccs-h--accent), var(--ccs-sl--fg4));
  --ccs-accent--bg4: hsl(var(--ccs-h--accent), var(--ccs-sl--bg4));
  --ccs-sla--fg4-fade: var(--ccs-s--contrast), var(--ccs-l--fg4), var(--ccs-fade);
  --ccs-sla--bg4-fade: var(--ccs-s--contrast), var(--ccs-l--bg4), var(--ccs-fade);
  --ccs-prime--fg4-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--fg4-fade));
  --ccs-prime--bg4-fade: hsla(var(--ccs-h--prime), var(--ccs-sla--bg4-fade));
  --ccs-accent--fg4-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--fg4-fade));
  --ccs-accent--bg4-fade: hsla(var(--ccs-h--accent), var(--ccs-sla--bg4-fade));
  --callout: var(--ccs-accent--bg3-fade);
  background: var(--ccs-accent--bg4);
  color: var(--ccs-prime--fg4);
}

[data-ccs-theme=contrast] {
  --ccs-contrast--theme: 200%;
}

a {
  --link--default: --ccs-prime--fg1;
}
a:link, a:visited {
  color: var(--link, var(--link--default));
  text-decoration-color: var(--ccs-prime);
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.125em;
}
a:hover, a:focus, a:active {
  --link: var(--ccs-accent--fg4);
  text-decoration-color: var(--ccs-accent);
}

menu {
  background: var(--callout);
  padding: 1em;
  margin: 1em 0;
}

.color-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

button {
  --btn-bg--default: var(--ccs-prime--fg2);
  --btn-fg--default: var(--ccs-prime--bg4);
  background: var(--btn-bg, var(--btn-bg--default));
  color: var(--btn-fg, var(--btn-fg--default));
  cursor: pointer;
  border: 2px solid;
  font: inherit;
  padding: 0.25em 0.5em;
}
button:hover, button:focus {
  --btn-bg: var(--ccs-prime--fg3);
}
button:active {
  box-shadow: 2px 2px 0 var(--ccs-prime--bg4) inset;
}

[data-field] {
  display: block;
}

[data-label] {
  display: block;
  font-size: 0.75em;
  font-style: italic;
}

input,
select {
  width: 100%;
}

.color-fields {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

[for=ccs-hue-select] {
  display: var(--custom-hue, block);
}

[for=ccs-lightness-select] {
  display: var(--custom-light, block);
}

[for=ccs-saturation-select] {
  display: var(--custom-sat, block);
}

[for=ccs-contrast-select] {
  display: var(--custom-contrast, block);
}

[type=range] {
  appearance: none;
  background: transparent;
  height: 1em;
  max-width: 100%;
  padding: 0;
}
[type=range]::-webkit-slider-runnable-track {
  appearance: none;
  height: 1em;
  background: var(--callout);
  border-radius: 0.25em;
  border: 2px solid;
  cursor: pointer;
}
[type=range]::-moz-range-track {
  appearance: none;
  height: 1em;
  background: var(--callout);
  border-radius: 0.25em;
  border: 2px solid;
  cursor: pointer;
}
[type=range]::-ms-track {
  appearance: none;
  height: 1em;
  background: var(--callout);
  border-radius: 0.25em;
  border: 2px solid;
  cursor: pointer;
}
[type=range]::-webkit-slider-thumb {
  transform: translateY(-35%);
  appearance: none;
  border: 2px solid var(--ccs-accent--fg3);
  height: 1em;
  width: 0.5em;
  border-radius: 0.25em;
  background: var(--ccs-prime);
  cursor: pointer;
}
[type=range]::-moz-range-thumb {
  appearance: none;
  border: 2px solid var(--ccs-accent--fg3);
  height: 1em;
  width: 0.5em;
  border-radius: 0.25em;
  background: var(--ccs-prime);
  cursor: pointer;
}
[type=range]::-ms-thumb {
  appearance: none;
  border: 2px solid var(--ccs-accent--fg3);
  height: 1em;
  width: 0.5em;
  border-radius: 0.25em;
  background: var(--ccs-prime);
  cursor: pointer;
}

[id=ccs-hue-select]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #b83014, #b84b14, #b86614, #b88114, #b89c14, #b8b814, #9cb814, #81b814, #66b814, #4bb814, #30b814, #14b814, #14b830, #14b84b, #14b866, #14b881, #14b89c, #14b8b8, #149cb8, #1481b8, #1466b8, #144bb8, #1430b8, #1414b8, #3014b8, #4b14b8, #6614b8, #8114b8, #9c14b8, #b814b8, #b8149c, #b81481, #b81466, #b8144b, #b81430, #b81414);
}
[id=ccs-hue-select]::-moz-range-track {
  background: linear-gradient(to right, #b83014, #b84b14, #b86614, #b88114, #b89c14, #b8b814, #9cb814, #81b814, #66b814, #4bb814, #30b814, #14b814, #14b830, #14b84b, #14b866, #14b881, #14b89c, #14b8b8, #149cb8, #1481b8, #1466b8, #144bb8, #1430b8, #1414b8, #3014b8, #4b14b8, #6614b8, #8114b8, #9c14b8, #b814b8, #b8149c, #b81481, #b81466, #b8144b, #b81430, #b81414);
}
[id=ccs-hue-select]::-ms-track {
  background: linear-gradient(to right, #b83014, #b84b14, #b86614, #b88114, #b89c14, #b8b814, #9cb814, #81b814, #66b814, #4bb814, #30b814, #14b814, #14b830, #14b84b, #14b866, #14b881, #14b89c, #14b8b8, #149cb8, #1481b8, #1466b8, #144bb8, #1430b8, #1414b8, #3014b8, #4b14b8, #6614b8, #8114b8, #9c14b8, #b814b8, #b8149c, #b81481, #b81466, #b8144b, #b81430, #b81414);
}

[id=ccs-lightness-select]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #404040, silver);
}
[id=ccs-lightness-select]::-moz-range-track {
  background: linear-gradient(to right, #404040, silver);
}
[id=ccs-lightness-select]::-ms-track {
  background: linear-gradient(to right, #404040, silver);
}

[id=ccs-saturation-select]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, hsl(var(--ccs-h--prime, 0), 0.1%, var(--ccs-l, 50%)), hsl(var(--ccs-h--prime, 0), 100%, var(--ccs-l, 50%)));
}
[id=ccs-saturation-select]::-moz-range-track {
  background-image: linear-gradient(to right, hsl(var(--ccs-h--prime, 0), 0.1%, var(--ccs-l, 50%)), hsl(var(--ccs-h--prime, 0), 100%, var(--ccs-l, 50%)));
}
[id=ccs-saturation-select]::-ms-track {
  background-image: linear-gradient(to right, hsl(var(--ccs-h--prime, 0), 0.1%, var(--ccs-l, 50%)), hsl(var(--ccs-h--prime, 0), 100%, var(--ccs-l, 50%)));
}

[id=ccs-contrast-select]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, gray, white), linear-gradient(to right, gray, black);
  background-size: 100% 50%, 100% 100%;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
}
[id=ccs-contrast-select]::-moz-range-track {
  background: linear-gradient(to right, gray, white), linear-gradient(to right, gray, black);
  background-size: 100% 50%, 100% 100%;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
}
[id=ccs-contrast-select]::-ms-track {
  background: linear-gradient(to right, gray, white), linear-gradient(to right, gray, black);
  background-size: 100% 50%, 100% 100%;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
}

.palette {
  background: linear-gradient(45deg, var(--ccs-fg--full) 25%, transparent 25% 75%, var(--ccs-fg--full) 75%), linear-gradient(45deg, var(--ccs-fg--full) 25%, transparent 25% 75%, var(--ccs-fg--full) 75%) var(--ccs-bg--full);
  background-size: 1em 1em;
  background-position: 0 0, 0.5em 0.5em;
  border: 2px solid var(--ccs-fg--full);
  margin: 1em 0;
}
.palette h2 {
  font: inherit;
  margin: 0;
}

[style*="--show"] {
  --stop: calc(100% / (var(--ccs-steps) * 2 + 1));
  --prime-palette: linear-gradient(to right, var(--ccs-prime--bg4) calc(var(--stop) * 0) calc(var(--stop) * 1), var(--ccs-prime--bg3) calc(var(--stop) * 1) calc(var(--stop) * 2), var(--ccs-prime--bg2) calc(var(--stop) * 2) calc(var(--stop) * 3), var(--ccs-prime--bg1) calc(var(--stop) * 3) calc(var(--stop) * 4), var(--ccs-prime) calc(var(--stop) * 4) calc(var(--stop) * 5), var(--ccs-prime--fg1) calc(var(--stop) * 5) calc(var(--stop) * 6), var(--ccs-prime--fg2) calc(var(--stop) * 6) calc(var(--stop) * 7), var(--ccs-prime--fg3) calc(var(--stop) * 7) calc(var(--stop) * 8), var(--ccs-prime--fg4) calc(var(--stop) * 8) calc(var(--stop) * 9)), linear-gradient(to right, var(--ccs-prime--bg4-fade) calc(var(--stop) * 0) calc(var(--stop) * 1), var(--ccs-prime--bg3-fade) calc(var(--stop) * 1) calc(var(--stop) * 2), var(--ccs-prime--bg2-fade) calc(var(--stop) * 2) calc(var(--stop) * 3), var(--ccs-prime--bg1-fade) calc(var(--stop) * 3) calc(var(--stop) * 4), var(--ccs-prime--fade) calc(var(--stop) * 4) calc(var(--stop) * 5), var(--ccs-prime--fg1-fade) calc(var(--stop) * 5) calc(var(--stop) * 6), var(--ccs-prime--fg2-fade) calc(var(--stop) * 6) calc(var(--stop) * 7), var(--ccs-prime--fg3-fade) calc(var(--stop) * 7) calc(var(--stop) * 8), var(--ccs-prime--fg4-fade) calc(var(--stop) * 8) calc(var(--stop) * 9));
  --accent-palette: linear-gradient(to right, var(--ccs-accent--bg4) calc(var(--stop) * 0) calc(var(--stop) * 1), var(--ccs-accent--bg3) calc(var(--stop) * 1) calc(var(--stop) * 2), var(--ccs-accent--bg2) calc(var(--stop) * 2) calc(var(--stop) * 3), var(--ccs-accent--bg1) calc(var(--stop) * 3) calc(var(--stop) * 4), var(--ccs-accent) calc(var(--stop) * 4) calc(var(--stop) * 5), var(--ccs-accent--fg1) calc(var(--stop) * 5) calc(var(--stop) * 6), var(--ccs-accent--fg2) calc(var(--stop) * 6) calc(var(--stop) * 7), var(--ccs-accent--fg3) calc(var(--stop) * 7) calc(var(--stop) * 8), var(--ccs-accent--fg4) calc(var(--stop) * 8) calc(var(--stop) * 9)), linear-gradient(to right, var(--ccs-accent--bg4-fade) calc(var(--stop) * 0) calc(var(--stop) * 1), var(--ccs-accent--bg3-fade) calc(var(--stop) * 1) calc(var(--stop) * 2), var(--ccs-accent--bg2-fade) calc(var(--stop) * 2) calc(var(--stop) * 3), var(--ccs-accent--bg1-fade) calc(var(--stop) * 3) calc(var(--stop) * 4), var(--ccs-accent--fade) calc(var(--stop) * 4) calc(var(--stop) * 5), var(--ccs-accent--fg1-fade) calc(var(--stop) * 5) calc(var(--stop) * 6), var(--ccs-accent--fg2-fade) calc(var(--stop) * 6) calc(var(--stop) * 7), var(--ccs-accent--fg3-fade) calc(var(--stop) * 7) calc(var(--stop) * 8), var(--ccs-accent--fg4-fade) calc(var(--stop) * 8) calc(var(--stop) * 9));
  background-image: var(--show);
  background-size: 100% 50%, 100% 100%;
  background-repeat: no-repeat;
  height: 3em;
}

html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: calc(1em + 0.25vw);
}

nav li {
  margin: 0.5em 0;
}

body {
  padding: 1em;
  margin: 0 auto;
  max-width: 40em;
}

/*# sourceMappingURL=styles.css.map */
