@use 'config';


// Colors
// ------

[data-ccs-colors] {
  @include config.colors;

  --callout: var(--ccs-accent--bg#{config.$steps - 1}-fade);
  background: var(--ccs-accent--bg-full);
  color: var(--ccs-prime--fg-full);
}


// links
a {
  --link--default: var(--ccs-prime--fg1);

  &:link,
  &:visited {
    color: var(--link, var(--link--default));
    text-decoration-color: var(--ccs-prime);
    text-underline-offset: 0.125em;
    text-decoration-thickness: 0.125em;
  }

  &:hover,
  &:focus,
  &:active {
    --link: var(--ccs-accent--fg4);
    text-decoration-color: var(--ccs-accent);
  }
}
