@use 'config';
@use '../sass/ccs' with (
  $prime-hue: config.$prime-hue,
  $accent-hue: config.$accent-hue,
  $lightness: config.$lightness,
  $saturation: config.$saturation,
  $contrast: config.$contrast,
  $fade-background: config.$fade-background,
);


// Colors
// ------

[data-ccs-colors] {
  @include ccs.colors(config.$steps, 0.95);

  --callout: var(--ccs-accent--bg3-fade);
  background: var(--ccs-accent--bg4);
  color: var(--ccs-prime--fg4);
}

[data-ccs-theme="contrast"] {
  --ccs-contrast--theme: 200%;
}


// links
a {
  --link--default: --ccs-prime--fg1;

  &:link,
  &:visited {
    color: var(--link, var(--link--default));
    text-decoration-color: var(--ccs-prime);
    text-underline-offset: 0.125em;
    text-decoration-thickness: 0.125em;
  }

  &:hover,
  &:focus,
  &:active {
    --link: var(--ccs-accent--fg4);
    text-decoration-color: var(--ccs-accent);
  }
}
