[data-ccs-field] {
  display: var(--ccs-custom-display, var(--ccs-field-display, block));
}

[data-ccs-field='hue'] {
  --ccs-custom-display: var(--ccs-custom-hue, block);
}

[data-ccs-field='lightness'] {
  --ccs-custom-display: var(--ccs-custom-lightness, block);
}

[data-ccs-field='saturation'] {
  --ccs-custom-display: var(--ccs-custom-saturation, block);
}

[data-ccs-field='contrast'] {
  --ccs-custom-display: var(--ccs-custom-contrast, block);
}
