[data-ccs-field='hue'] {
  display: var(--ccs-custom-hue, block);
}

[data-ccs-field='hue'] {
  display: var(--ccs-custom-hue, block);
}

[data-ccs-field='lightness'] {
  display: var(--ccs-custom-lightness, block);
}

[data-ccs-field='saturation'] {
  display: var(--ccs-custom-saturation, block);
}

[data-ccs-field='contrast'] {
  display: var(--ccs-custom-contrast, block);
}
