@use '../config';

// CSS Configuration
// -----------------
/// Global configuration options should be defined
/// with custom properties on the `html` element.
/// You can do that manually,
/// or by setting the Sass configuration variables.
/// @name CSS Configuration
/// @group config
[data-ccs='root'] {
  @each $name, $hue in config.$hues {
    @if ($hue) {
      --ccs-#{$name}--config: #{$hue};
    }
  }

  @if (config.$lightness) {
    --ccs-lightness--config: #{config.$lightness or null};
  }

  @if (config.$saturation) {
    --ccs-saturation--config: #{config.$saturation or null};
  }

  @if (config.$contrast) {
    --ccs-contrast--config: #{config.$contrast or null};
  }

  @if (config.$fade-background) {
    --ccs-fade-background--config: #{config.$fade-background or null};
  }

  @if (config.$neutral-saturation) {
    --ccs-s-neutral--config: #{config.$neutral-saturation or null};
  }

  @if (config.$fades) {
    --ccs-fade: #{if(type-of(config.$fades) == 'number', config.$fades, 1)};
  }
}
