@use '../config';
@use 'sass:meta';

/// # CSS Global Settings
/// Global configuration options will be defined
/// with custom properties on the `html` element
/// or `[data-ccs='root']` selector.
/// You can do that manually,
/// or by setting the [Sass configuration](config.html) variables.
///
/// - `--ccs-#{$name}--config` (for each desired hue)
/// - `--ccs-lightness--config`
/// - `--ccs-saturation--config`
/// - `--ccs-contrast--config`
/// - `--ccs-fade-background--config`
/// - `--ccs-s-neutral--config` (neutral saturation)
/// - `--ccs-fade`
///
/// @name CSS Configuration
/// @group config-css

[data-ccs='root'] {
  @each $name, $hue in config.$hues {
    @if ($hue) {
      --ccs-#{$name}--config: #{$hue};
    }
  }

  @if (config.$lightness) {
    --ccs-lightness--config: #{config.$lightness or null};
  }

  @if (config.$saturation) {
    --ccs-saturation--config: #{config.$saturation or null};
  }

  @if (config.$contrast) {
    --ccs-contrast--config: #{config.$contrast or null};
  }

  @if (config.$fade-background) {
    --ccs-fade-background--config: #{config.$fade-background or null};
  }

  @if (config.$neutral-saturation) {
    --ccs-s-neutral--config: #{config.$neutral-saturation or null};
  }

  @if (config.$fades) {
    --ccs-fade: #{if(sass(meta.type-of(config.$fades) == 'number'): config.$fades; else: 1)};
  }
}
