@use '../config';

// CSS Configuration
// -----------------
/// Global configuration options should be defined
/// with custom properties on the `html` element.
/// You can do that manually,
/// or by setting the Sass configuration variables.
///
/// We also check the user's color-scheme preference,
/// to set `--ccs-mode--os`,
/// and apply the light/dark fallback values
/// for browsers without variable support.
///
/// @name CSS Configuration
/// @group config
[data-ccs='root'] {
  // config
  @if (config.$prime-hue) {
    --ccs-prime--config: #{config.$prime-hue or 330};
  }

  @if (config.$accent-hue) {
    --ccs-accent--config: #{config.$accent-hue or null};
  }

  @if (config.$lightness) {
    --ccs-lightness--config: #{config.$lightness or null};
  }

  @if (config.$saturation) {
    --ccs-saturation--config: #{config.$saturation or null};
  }

  @if (config.$contrast) {
    --ccs-contrast--config: #{config.$contrast or null};
  }

  @if (config.$fade-background) {
    --ccs-fade-background--config: #{config.$fade-background or null};
  }

  // mode
  --ccs-mode--os: 1;

  // fallback values, in case variables are not supported
  background: config.$fallback-light;
  color: config.$fallback-dark;

  @media (prefers-color-scheme: dark) {
    --ccs-mode--os: -1;
    background: config.$fallback-dark;
    color: config.$fallback-light;
  }
}

