[data-ccs-theme='complement'] {
  --ccs-accent--theme: calc(var(--ccs-h--prime) + 180);
}

[data-ccs-theme='triad'] {
  --ccs-accent--theme: calc(var(--ccs-h--prime) + (120 * var(--ccs-mode)));
}

[data-ccs-theme='adjacent'] {
  --ccs-accent--theme: calc(var(--ccs-h--prime) + (60 * var(--ccs-mode)));
}

[data-ccs-theme="contrast"] {
  --ccs-contrast: 200%;
  --ccs-custom-contrast: none;
}
