@use '../../_index.scss' with (
  $hues: (
    'prime',
    'accent',
    'special',
    'neutral',
  ),
  $fade-background: 10%,
  $steps: 6,
  $fades: 0.9,
  $neutral-saturation: 5%,
  $gradients: true,
  $build: true,
);
